<!DOCTYPE html>

<title>Edit Inventory</title>

{% block body %}
    <h1>Edit Inventory</h1>

    {{ include('inventory/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inventory_index') }}">back to list</a>

    {{ include('inventory/_delete_form.html.twig') }}
{% endblock %}
