{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  
    <h1>Welcome to our website ! </h1>

    <!-- Goals -->
    <section>
        <h2>Our goals</h2>
        <p>This website provides a platform for caps aficionados.</p>
        
    </section>

    <!-- Fonctionnement -->
    <section>
        <h2>How does it work ?</h2>
        <p>You can display your own caps on your "wardrobes" or you can consult the items of other users.</p>
    </section>

    <!-- Actualités -->
    <section>
        <h2>News</h2>
        <p>No news for now...</p>
    </section>

    <!-- Section Contact -->
    <section>
        <h2>Contact</h2>
        <p>For any concerns or questions, please contact the administrator :</p>
        <p>yanis.halloum@telecom-sudparis.eu</p>
        
    </section>

</div>
{% endblock %}
