{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre site !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <!-- Navigation principale -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('app_cap_index') }}">Caps</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_inventory_index') }}">Inventories</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_member_index') }}">Members</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_paste_index') }}">Pastes</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h1>Welcome to our website ! </h1>

    <!-- Goals -->
    <section>
        <h2>Our goals</h2>
        <p>This website provides a platform for caps aficionados.</p>
        
    </section>

    <!-- Fonctionnement -->
    <section>
        <h2>How does it work ?</h2>
        <p>You can display your own caps on your "wardrobes" or you can consult the items of other users.</p>
    </section>

    <!-- Actualités -->
    <section>
        <h2>News</h2>
        <p>No news for now...</p>
    </section>

    <!-- Section Contact -->
    <section>
        <h2>Contact</h2>
        <p>For any concerns or questions, please contact the administrator :</p>
        
    </section>

</div>
{% endblock %}
