<!DOCTYPE html>

<title>Edit Cap</title>

{% block body %}
    <h1>Edit Cap</h1>

    {{ include('cap/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cap_index') }}">back to list</a>

    {{ include('cap/_delete_form.html.twig') }}
{% endblock %}
